@import '../../styles/mixins/mixins';

.Episode {
  height: 135px;
  overflow: hidden;

  &__now-playing {
    .Episode__name {
      animation: now-playing-text 1s infinite;
    }
  }

  &__bottom {
    display: flex;
  }

  &__image {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    @include square-div(100px);
  }

  &__name {
    width: 100%;
    font-weight: bold;
    display: block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    padding-bottom: 5px;
    color: $col-white;
  }

  &__info-container {
    padding: 0 10px;    
    min-height: 100px;
    display: flex;
    flex-direction: column;

    &--no-padding {
      padding: 0;
    }
  }

  &__controls {
    padding-right: 5px;
    flex: 1 1 auto;
    display: flex;
    align-items: flex-end;
  }

  &__control-button {
    height: 45px;
    width: 45px;
    margin-right: 10px;
    position: static;
  }

  &__podcast {
    display: block;
  }

  &__pub-date {
    color: $col-primary;
  }
}

@keyframes now-playing-text {
  0% { color: $col-white; }
  50% { color: $col-green; }
  100% { color: $col-white; }
}
