.Header {
  display: flex;
  z-index: 5;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 5px $app-gutters;  
  border-bottom: 2px solid $col-primary;
  background-color: $col-dark-grey;

  &__left {
    flex: 1 1 33%;
  }
  &__center {
    flex: 1 1 66%;
    text-align: center;
  }
  &__right {
    flex: 1 1 33%;
    text-align: right;
    @include flex-vertical-center;
  }
}