$col-black: #000;
$col-dark-grey: #313131;
$col-white: #fff;
$col-red: #ff0000;
$col-orange: #FFA500;
$col-green: #00b51a;

$col-primary: $col-orange;
$col-secondary: $col-green;

$col-link: $col-secondary;
