.App {
  max-width: 1440px;
  margin: 0 auto;
  padding-top: calc(#{$header-height + $app-gutters});
  padding-right: $app-gutters;
  padding-left: $app-gutters;

  &--player-visible {
    padding-bottom: $playerHeight;
  }
}